{% extends 'main/base.html' %}

{% block title %}О компании{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold" style="padding-top: 50px;">
                <i class="icon-left-open icon-s5"></i>О компании<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-6 fnormal">
            <p> На заре своего пути, "Долгов Авто" начинала с подбора автомобилей по Приморскому краю. Спустя время, благодаря высокому        качеству услуг и оперативности в работе, мы завоевали доверие клиентов и решили выйти на новый уровень. Так, уже более пяти лет наша деятельность направлена на импорт автомобилей из Японии, Кореи и Китая, и на сегодняшний день мы с гордостью доставили более 5 000 автомобилей к их новым владельцам!

            "Долгов Авто" — это не только юридически чистая компания с безупречной репутацией, и множеством положительных отзывов на различных платформах, но и команда профессионалов, готовых к новым вызовам. Мы прозрачны в своей работе и открыты к проверкам, что делает нас надежным партнером для каждого клиента.
                
            Наш головной офис располагается во Владивостоке, а филиалы открыты в крупнейших городах России: Москва, Краснодар, Самара, Уфа и Южно-Сахалинск. Мы рады ответить на все ваши вопросы онлайн, или приветствовать вас в любом из наших офисов для бесплатной консультации, обеспечив теплый и дружелюбный прием.
            </p>
        </div>
        <div class="col-6 fnormal">
            <p>
                Наши услуги и преимущества:

                •⁠ ⁠Скорость доставки: Мы гарантируем одни из лучших сроков на рынке - из Японии за 21 день, из Китая за 20 дней, а из Кореи всего за 14 дней.
                •⁠ ⁠Юридическая ответственность: Мы несем полную ответственность за каждый автомобиль - от момента его подбора за рубежом до доставки в Владивосток.
                •⁠ ⁠Страхование: Мы гарантируем компенсацию ущерба в любых ситуациях, независимо от возникающих проблем
                •⁠ ⁠Дополнительные услуги: Помимо основных, мы предлагаем услуги автосервиса и детейлинга, чтобы ваш автомобиль был в идеальном состоянии.
                • Интегрированная логистика: Собственная транспортная и экспортная инфраструктура обеспечивает быструю и безопасную доставку автомобилей из Кореи и Китая по всей России.

                Присоединяйтесь к числу довольных владельцев автомобилей с "Долгов Авто" и позвольте нам сделать процесс выбора и покупки автомобиля максимально приятным и легким!
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold">
                <i class="icon-left-open icon-s5"></i>Наша команда<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-3">
            <img src="{{ url_for('static', filename='img/image12.jpg') }}" class="img-fluid aboutphoto" alt="Автомобили"> 
            <p class="fbold2" style="color: #00756c; padding-top: 15px;">Михаил Дунаев</p>
            <p class="fnormal2" style="font-size: 14px;">Менеджер по продажам</p>
        </div>
        <div class="col-3">
            <img src="{{ url_for('static', filename='img/image12.jpg') }}" class="img-fluid aboutphoto" alt="Автомобили"> 
            <p class="fbold2" style="color: #00756c; padding-top: 15px;">Михаил Дунаев</p>
            <p class="fnormal2" style="font-size: 14px;">Менеджер по продажам</p>
        </div>
        <div class="col-3">
            <img src="{{ url_for('static', filename='img/image12.jpg') }}" class="img-fluid aboutphoto" alt="Автомобили"> 
            <p class="fbold2" style="color: #00756c; padding-top: 15px;">Михаил Дунаев</p>
            <p class="fnormal2" style="font-size: 14px;">Менеджер по продажам</p>
        </div>
    </div>
</div>
{% endblock %}