{% extends 'main/base.html' %}

{% block title %}Авто из Китая{% endblock %}

{% block content %}

<div class="container" id="mheader" style="padding-top: 30px;">
    <div class="row g-0">
        <div class="col-4 align-items-center d-flex justify-content-center" style="padding: 0px;">
            <a href="/">
                <img class="header__img hmlogo" src="{{ url_for('static', filename='img/logo8.png') }}" alt="logo" style="padding: 0px;">
            </a>
        </div>
        <div class="col-8 align-items-center d-flex justify-content-center" style="padding: 0px;">
            <div class="row g-0">
                <div class="col-6 text-center">
                    <a href="{{ url_for('about.about_page') }}" class="getbtn5 fnormal3 mx-auto" >О нас</a>
                    <a href="{{ url_for('japan.japan_page') }}" class="getbtn4 fnormal3 mx-auto" >Авто из Японии</a>
                </div>
                <div class="col-6 text-center">
                    <a href="{{ url_for('korea.korea_page') }}" class="getbtn4 fnormal3 mx-auto">Авто из Кореи</a>
                    <a href="{{ url_for('china.china_page') }}" class="getbtn4 fnormal3 mx-auto">Авто из Китая</a>
                </div>
                <div class="col-12 fbold2 text-center" style="font-size: 12px;">
                    <i class="icon-phone"></i>
                    8 (914) 090-55-95
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="top">
    <div class="row" style="padding-top: 50px;">
        <div class="col-xl-6 col-12">         
            <div class="fblack text-center" id="mblack">
                Привезём любое авто напрямую из <span style="color: #00756c;">Китая</span> без посредников!
            </div>           
            <div class="fnormal" style="padding-top: 30px; padding-bottom: 40px;">
                AutoTradeService предлагает прямые поставки автомобилей из Китая, без посредников и лишних переплат. Благодаря нашим крепким партнерским связям, мы обеспечиваем комплексное обслуживание — от тщательного подбора автомобиля до его доставки к Вам. <br>
                 <br>
                Мы берем на себя весь процесс: от профессиональной оценки состояния автомобиля в Китае до полного таможенного оформления и транспортировки. Наша команда уделяет внимание каждой детали, гарантируя надежность и прозрачность на каждом этапе. Выбирая нас, Вы получаете автомобиль, который полностью отвечает Вашим требованиям, по оптимальной цене и в кратчайшие сроки.
            </div>
            <div>
                <a href="#chinaforma" class="getbtn2" id="cen-btn">
                    <i class="icon-hand-pointer-o btn-icon" id="ic-cen"></i>
                    Заказать авто
                </a>
            </div>
        </div>
        <div class="col-xl-6 col-12 d-flex align-items-center" style="padding: 0px;">
            <img src="{{ url_for('static', filename='img/geelmon.png') }}" class="img-fluid mx-auto" alt="Автомобили">
        </div>      
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold">
                <i class="icon-left-open icon-s5"></i>ПРЕИМУЩЕСТВА ПРИОБРЕТЕНИЯ АВТОМОБИЛЯ В КИТАЕ<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-3">
        <div class="col-xl-4 col-12"> 
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Современные технологии</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-технологии-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Китайские автомобили оснащены новейшими системами безопасности, мультимедиа и инновационными технологиями, на уровне европейских моделей.</p>
                </div>
            </div> 
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Гарантированная безопасность</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-безопасность-проверена-64.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Наша компания полностью отвечает за качество и безопасность покупки, закрепляя обязательства в договоре.</p>
                </div>
            </div>
        </div> 
        <div class="col-xl-4 col-12">
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Доступная стоимость</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-ценник-в-долларах-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Китайские автомобили выгодно отличаются по цене за счет доступного производства, что делает их более конкурентоспособными.</p>
                </div>
            </div>
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Быстрая доставка</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-доставка-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Осуществляем доставку автомобилей в любой регион России в кратчайшие сроки.</p>
                </div>
            </div>
        </div> 
        <div class="col-xl-4 col-12">
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Широкий ассортимент</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-выбор-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Мы предлагаем широкий выбор моделей — от городских компактных авто до мощных внедорожников и электромобилей.</p>
                </div>
            </div>
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Европейские стандарты качества</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-европа-100 (1).png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Многие китайские модели соответствуют европейским стандартам и предлагаются с эксклюзивными опциями для местного рынка.</p>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold">
                <i class="icon-left-open icon-s5"></i>Этапы сотрудничества<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-xl-8 col-12">
            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-startup-50.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Оформление заявки</h5>
                    <p class="fnormal">Оставьте заявку на сайте или свяжитесь с нами через Telegram, WhatsApp или просто по телефону. Наш менеджер проконсультирует Вас по любым вопросам и поможет с выбором подходящего автомобиля из Китая. <br>
                    <br>    
                    Мы предложим варианты на основе Ваших предпочтений и произведем расчет стоимости доставки до Владивостока.</p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-вниз-48.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Договор и депозит</h5>
                    <p class="fnormal">
                        После подбора автомобиля подписываем договор, где указываются все технические характеристики машины и конечная стоимость с учетом доставки и таможенного оформления. <br>
                        <br>
                        Для закрепления сделки вносится депозит (100 000 рублей), который будет возвращен при окончательном подписании акта выполненных услуг.
                    </p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-вниз-48.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Процесс покупки</h5>
                    <p class="fnormal">
                        Мы согласовываем с Вами варианты автомобилей. В зависимости от наличия и популярности моделей, процесс может занять разное количество времени. Если автомобиль Вас устраивает, мы заказываем его осмотр у наших партнеров, результаты которого отправляем Вам. <br>
                        <br>
                        Результаты осмотра (фото или видео) мы направляем в нашу группу. После Вашего подтверждения, мы бронируем автомобиль, а брокер готовит и выставляет инвойс.
                    </p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-вниз-48.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Оплата и доставка авто</h5>
                    <p class="fnormal">
                        После того, как мы выбрали нужный автомобиль, наш специалист направит Вам инвойс для оплаты. Сумма в инвойсе составляет примерно 60-70% от общей стоимости авто. После оплаты счета денежные средства поступают экспортной компании в течение 10 рабочих дней. <br>
                        <br>
                        После поступления денежных средств, экспортная компания транспортирует автомобиль до стоянки, делает фото-видео отчёт по машине. И готовит экспортные документы к отправке в г. Владивосток. По прибытию автомобиля во Владивосток, Вам остается только оплатить таможенную пошлину и таможенное оформление.
                    </p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-финишный-флажок-64.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Вручение автомобиля</h5>
                    <p class="fnormal">
                        Завершающим этапом, мы отправим Ваш автомобиль автовозом или ЖД непосредственно в ваш город.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold">
                <i class="icon-left-open icon-s5"></i>БЕЗОПАСНОСТЬ КЛИЕНТА — НАША ПЕРВОСТЕПЕННАЯ ЗАДАЧА!<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: 150px;">
    <div class="row" style="margin-bottom: 20px;">

        <div class="col-xl-3 col-12">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-lock"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">ГАРАНТИЯ БЕЗОПАСНОСТИ</h5>
                <p class="fnormal" style="padding-top: 20px;">Мы страхуем ваш автомобиль, чтобы защитить его от любых потенциальных неприятностей и проблем, которые могут возникнуть в процессе покупки и эксплуатации.</p>
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-thumbs-up"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">ВСЕОБЩЕЕ ПОКРЫТИЕ РИСКОВ</h5>
                <p class="fnormal" style="padding-top: 20px;">Мы берем на себя полную ответственность за возможные риски, начиная с момента покупки автомобиля и заканчивая его безопасной доставкой к вам.</p>
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-doc"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">СТРАХОВОЕ ОБЕСПЕЧЕНИЕ
                </h5>
                <p class="fnormal" style="padding-top: 20px;">Предоставляем полное страховое покрытие, которое поможет компенсировать любой ущерб в случае непредвиденных обстоятельств, делая ваш опыт максимально безопасным.</p>
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-shield"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">ВСЕОБЩАЯ ЗАЩИТА И ПОДДЕРЖКА</h5>
                <p class="fnormal" style="padding-top: 20px;">Мы гарантируем полную защиту ваших интересов на каждом этапе сделки, обеспечивая надежность и безопасность сотрудничества.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xl-4 col-12">
            <div class="custom-card1" style="border: none;   -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
                 box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);">
                <p class="fbold2 card-title" style="color: #000; border-bottom: none; font-size: 18px;"><span style="color: #00756c;">ДОГОВОР -</span> ГЛАВНАЯ ГАРАНТИЯ ВАШЕЙ И НАШЕЙ БЕЗОПАСНОСТИ</p>
                <div class="card-body1" id="dogovor">
                    <a href="static/files/Договор компании Долгов Авто по Японии.pdf" download="Договор компании Долгов Авто по Японии.pdf" class="getbtn6">
                        <i class="icon-download-1 btn-icon" style="color: #00756c; margin-right: 27px;"></i>
                        Пример договора
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="bgachina" id="chinaforma">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-12" id="mforma">
                <form action="{{ url_for('main.send_email') }}" method="post" class="contact-form text-center">
                    <p class="text-center fbold3" id="forz">
                        ОСТАЛИСЬ ВОПРОСЫ?
                    </p>
                    <p class="text-center fnormal4" id="fort">
                        Оставьте свои данные и наш менеджер свяжется с вами ближайшее время!
                    </p>
                    <div class="form-group">
                        <label for="name"></label>
                        <div class="input-icon">
                            <i class="icon-pencil"></i>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Имя" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="number"></label>
                        <div class="input-icon">
                            <i class="icon-phone"></i>
                            <input type="number" id="number" name="number" class="form-control" placeholder="Номер" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city"></label>
                        <div class="input-icon">
                            <i class="icon-location"></i>
                            <input type="text" id="city" name="city" class="form-control" placeholder="Город" required>
                        </div>
                    </div>

                    <button type="submit" class="getbtn2" style="margin-top: 25px;">Отправить</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center" style="padding-top: 150px;">
        <div class="col-xl-8 col-12 d-flex align-items-center" style="padding: 0px;">
            <img src="{{ url_for('static', filename='img/Group 10.png') }}" class="img-fluid mx-auto" alt="соц">
        </div>  

        <div class="col-xl-4 col-12 fblack iformastr"  id="mformastr">
            <span style="color: #00756c;">Подпишись,</span> чтобы
            не пропустить новинки
            и выгодные предложения

            <a href="" class="custom-btn2"> 
                <div class="btn-image2">
                    <img src="{{ url_for('static', filename='img/icons8-телеграмма-app-100.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="btn-body2">
                    <h5 class="fbold2">Наш телеграм-канал <i class="icon-link"></i></h5> 
                    <p class="fnormal2" style="margin-bottom: 0px;">Новости, покупки, полезная информация</p>
                </div>
            </a>
            <a href="" class="custom-btn2"> 
                <div class="btn-image2">
                    <img src="{{ url_for('static', filename='img/icons8-youtube-100.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="btn-body2">
                    <h5 class="fbold2">Наш ютуб-канал <i class="icon-link"></i></h5>
                    <p class="fnormal2" style="margin-bottom: 0px;">Обзоры на импортные автомобили</p>
                </div>
            </a>
            <a href="" class="custom-btn2"> 
                <div class="btn-image2">
                    <img src="{{ url_for('static', filename='img/icons8-группа-пользователей,-женщины-100.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="btn-body2">
                    <h5 class="fbold2">Отзывы наших клиентов <i class="icon-link"></i></h5>
                    <p class="fnormal2" style="margin-bottom: 0px;">Отзывы клиентов на оказание наших услуг</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
