{% extends 'main/base.html' %}

{% block title %}Авто из Китая{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="padding-top: 50px;">
        <div class="col-6">         
            <div class="fblack text-center">
                Привезём любое авто напрямую из <span style="color: #00756c;">Китая</span> без посредников!
            </div>           
            <div class="fnormal" style="padding-top: 30px; padding-bottom: 40px;">
                AutoTradeService предлагает прямые поставки автомобилей из Китая, без посредников и лишних переплат. Благодаря нашим крепким партнерским связям, мы обеспечиваем комплексное обслуживание — от тщательного подбора автомобиля до его доставки к Вам. <br>
                 <br>
                Мы берем на себя весь процесс: от профессиональной оценки состояния автомобиля в Китае до полного таможенного оформления и транспортировки. Наша команда уделяет внимание каждой детали, гарантируя надежность и прозрачность на каждом этапе. Выбирая нас, Вы получаете автомобиль, который полностью отвечает Вашим требованиям, по оптимальной цене и в кратчайшие сроки.
            </div>
            <div>
                <a href="#chinaforma" class="getbtn2">
                    <i class="icon-hand-pointer-o btn-icon"></i>
                    Заказать авто
                </a>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center" style="padding: 0px;">
            <img src="{{ url_for('static', filename='img/geelmon.png') }}" class="img-fluid mx-auto" alt="Автомобили">
        </div>      
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold">
                <i class="icon-left-open icon-s5"></i>ПРЕИМУЩЕСТВА ПРИОБРЕТЕНИЯ АВТОМОБИЛЯ В КИТАЕ<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-3">
        <div class="col-4">  
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Безопасность</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-безопасность-проверена-64.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Полная ответственность за автомобиль и защита покупателя по договору.</p>
                </div>
            </div>
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Технологии</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-технологии-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Китайские автомобили не уступают по оснащению и технологиям европейским моделям, часто имеют современные системы безопасности, мультимедиа, комфорта и передовые электронные помощники.</p>
                </div>
            </div>
        </div> 
        <div class="col-4">
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Доставка</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-доставка-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Возможность доставки автомобиля в любой город России</p>
                </div>
            </div>
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Цена</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-ценник-в-долларах-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Новые китайские автомобили обычно гораздо дешевле, чем аналогичные модели европейских или японских брендов благодаря более низкой себестоимости производства и отсутствию платы за "бренд".</p>
                </div>
            </div>
        </div> 
        <div class="col-4">
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Европейский стандарт</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-европа-100 (1).png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Некоторые китайские модели предлагаются с увеличенной колесной базой и уникальным оснащением, а также создаются специальные модели для китайского рынка.</p>
                </div>
            </div>
            <div class="custom-card1" style="height: 200px;">
                <p class="fbold2 card-title">Большой выбор</p>
                <div class="card-body1">
                    <div class="card-image2">
                        <img src="{{ url_for('static', filename='img/icons8-выбор-100.png') }}" class="img-fluid" alt="Автомобили">
                    </div>
                    <p class="fnormal card-text">Широкий ассортимент автомобилей от компактных городских машин до кроссоверов, внедорожников, электромобилей, пикапов и минивэнов.</p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold">
                <i class="icon-left-open icon-s5"></i>Этапы сотрудничества<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-8">
            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-startup-50.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Подбор автомобиля</h5>
                    <p class="fnormal">Начинаем с подбора автомобиля, который сейчас продается в Китае под ваши параметры. Просчитываем его конечную стоимость в городе Владивосток.</p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-вниз-48.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Договор и предоплата</h5>
                    <p class="fnormal">
                        После подбора авто заключаем договор. В договоре прописываются все технические данные автомобиля и конечная максимальная стоимость в городе Владивосток с учетом таможенного оформления. <br>
                        <br>
                        Депозит по договору (100.000 рублей) - обеспечительный платёж. Он будет Вам возвращён на последнем этапе – после подписания акта оказания услуг.
                    </p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-вниз-48.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Покупка</h5>
                    <p class="fnormal">
                        Менеджер подбирает варианты и согласует их с Вами. <br>
                        Время подбора вариантов всегда разное и зависит от распространённости (популярности) а/м.
                        Если вариант Вам понравился, то менеджер заказывает осмотр а/м у наших партнёров – китайский экспортной компании. <br>
                        <br>
                        Результаты осмотра (фото) мы направляем в нашу группу.
                        После Вашего подтверждения, мы бронируем автомобиль, а китайская экспортная компания готовит и выставляет инвойс.   
                    </p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-вниз-48.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Оплата и доставка</h5>
                    <p class="fnormal">
                        После того, как мы выбрали нужный автомобиль, его проверили и он Вам понравился, наш менеджер направит Вам инвойс для оплаты. Сумма в инвойсе составляет примерно 60-70% от общей стоимости а/м. После оплаты инвойса денежные средства поступают китайской экспортной компании в течение 10 рабочих дней. <br>
                        <br>
                        Транспортировка а/м по Китаю до стоянки экспортной компании в приграничном городе Суйфэньхэ осуществляется на автовозе и занимает до 10 дней.
                        После размещения Вашего а/м на стоянке в г. Суйфэньхе за следующие 10 дней экспортная компания подготовит экспортные документы и фото-видео отчёт по машине.
                    </p>
                </div>
            </div>

            <div class="custom-card2">
                <div class="card-image3">
                    <img src="{{ url_for('static', filename='img/icons8-финишный-флажок-64.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="card-body2">
                    <h5 class="fbold" style="padding-top: 15px;">Выдача</h5>
                    <p class="fnormal">
                        Завершающим этапом, мы отправим ваш автомобиль автовозом в ближайший к вам филиал "Долгов Авто" или непосредственно в ваш город"
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class = "thema fbold">
                <i class="icon-left-open icon-s5"></i>БЕЗОПАСНОСТЬ КЛИЕНТА — НАША ПЕРВОСТЕПЕННАЯ ЗАДАЧА!<i class="icon-right-open icon-s5"></i>
            </h1>
        </div>
    </div>
</div>


<div class="container" style="margin-bottom: 150px;">
    <div class="row" style="margin-bottom: 20px;">

        <div class="col">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-lock"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">ГАРАНТИЯ БЕЗОПАСНОСТИ</h5>
                <p class="fnormal" style="padding-top: 20px;">Мы страхуем ваш автомобиль, чтобы защитить его от любых потенциальных неприятностей и проблем, которые могут возникнуть в процессе покупки и эксплуатации.</p>
            </div>
        </div>
        <div class="col-3">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-thumbs-up"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">ВСЕОБЩЕЕ ПОКРЫТИЕ РИСКОВ</h5>
                <p class="fnormal" style="padding-top: 20px;">Мы берем на себя полную ответственность за возможные риски, начиная с момента покупки автомобиля и заканчивая его безопасной доставкой к вам.</p>
            </div>
        </div>
        <div class="col">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-doc"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">СТРАХОВОЕ ОБЕСПЕЧЕНИЕ
                </h5>
                <p class="fnormal" style="padding-top: 20px;">Предоставляем полное страховое покрытие, которое поможет компенсировать любой ущерб в случае непредвиденных обстоятельств, делая ваш опыт максимально безопасным.</p>
            </div>
        </div>
        <div class="col">
            <div class="step-item" style="border-radius: 25px; height: 400px;">
                <div class="icon-s3">
                    <i class="icon-shield"></i>
                </div>
                <h5 class="fbold2 text-center" style=" color: #000; padding-top: 30px;">ВСЕОБЩАЯ ЗАЩИТА И ПОДДЕРЖКА</h5>
                <p class="fnormal" style="padding-top: 20px;">Мы гарантируем полную защиту ваших интересов на каждом этапе сделки, обеспечивая надежность и безопасность сотрудничества.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="custom-card1" style="height: 160px; border: none;   -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
                 box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);">
                <p class="fbold2 card-title" style="color: #000; border-bottom: none; font-size: 18px;"><span style="color: #00756c;">ДОГОВОР -</span> ГЛАВНАЯ ГАРАНТИЯ ВАШЕЙ И НАШЕЙ БЕЗОПАСНОСТИ</p>
                <div class="card-body1">
                    <a href="static/files/Договор компании Долгов Авто по Японии.pdf" download="Договор компании Долгов Авто по Японии.pdf" class="getbtn6">
                        <i class="icon-download-1 btn-icon" style="color: #00756c; margin-right: 27px;"></i>
                        Пример договора
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="bgachina" id="chinaforma">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form action="{{ url_for('main.send_email') }}" method="post" class="contact-form text-center">
                    <p class="text-center fbold" style="font-size: 24px;">
                        ОСТАЛИСЬ ВОПРОСЫ?
                    </p>
                    <p class="text-center fnormal" style="font-size: 18px;">
                        Оставьте свои данные и наш менеджер свяжется с вами ближайшее время!
                    </p>
                    <div class="form-group">
                        <label for="name"></label>
                        <div class="input-icon">
                            <i class="icon-pencil"></i>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Имя" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="number"></label>
                        <div class="input-icon">
                            <i class="icon-phone"></i>
                            <input type="number" id="number" name="number" class="form-control" placeholder="Номер" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city"></label>
                        <div class="input-icon">
                            <i class="icon-location"></i>
                            <input type="text" id="city" name="city" class="form-control" placeholder="Город" required>
                        </div>
                    </div>

                    <button type="submit" class="getbtn2" style="margin-top: 25px;">Отправить</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center" style="padding-top: 150px;">
        <div class="col-8 d-flex align-items-center" style="padding: 0px;">
            <img src="{{ url_for('static', filename='img/Group 10.png') }}" class="img-fluid mx-auto" alt="соц">
        </div>  

        <div class="col-4 fblack" style="padding-left: 50px; font-size: 28px; padding-right: 0px;">
            <span style="color: #00756c;">Подпишись,</span> чтобы
            не пропустить новинки
            и выгодные предложения

            <a href="" class="custom-btn2"> 
                <div class="btn-image2">
                    <img src="{{ url_for('static', filename='img/icons8-телеграмма-app-100.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="btn-body2">
                    <h5 class="fbold2">Наш телеграм-канал</h5>
                    <p class="fnormal2" style="margin-bottom: 0px;">Новости, покупки, полезная информация</p>
                    <i class="icon-link" style="padding-left: 250px; padding-bottom: 10px; padding-right: 10px; color: #000;"></i>
                </div>
            </a>
            <a href="" class="custom-btn2"> 
                <div class="btn-image2">
                    <img src="{{ url_for('static', filename='img/icons8-youtube-100.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="btn-body2">
                    <h5 class="fbold2">Наш ютуб-канал</h5>
                    <p class="fnormal2" style="margin-bottom: 0px;">Обзоры на импортные автомобили</p>
                    <i class="icon-link" style="padding-left: 250px; padding-bottom: 10px; padding-right: 10px; color: #000;"></i>
                </div>
            </a>
            <a href="" class="custom-btn2"> 
                <div class="btn-image2">
                    <img src="{{ url_for('static', filename='img/icons8-группа-пользователей,-женщины-100.png') }}" class="img-fluid" alt="Автомобили"> 
                </div>
                <div class="btn-body2">
                    <h5 class="fbold2">Отзывы наших клиентов</h5>
                    <p class="fnormal2" style="margin-bottom: 0px;">Отзывы клиентов на оказание наших услуг</p>
                    <i class="icon-link" style="padding-left: 250px; padding-bottom: 10px; padding-right: 10px; color: #000;"></i>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
